<div class="our-numbers">
    <div class="bg-clr">
        <div class="container text-center">
            <div class="content">
                <h4 class="text-h4">OUR <span class="text-h4-span">NUMBERS</span></h4>
                <h6 class="text-h6">SOME OF THE <span class="highlight">COOL FACTS ABOUT US</span></h6>
            </div>
        </div>
        <div class="body-content">
            <div class="row p-0 m-0 row1">
                <div class="col p-0 m-0 background-b">
                    <div class="row p-0 m-0">
                        <div class="col p-0 m-0 line-h"></div>
                    </div>
                    <div class="row p-0 m-0 background-c">
                        <div class="col p-0 m-0"><h3 class="text-h3">{{projectCount}}</h3></div>
                    </div>
                    <div class="row p-0 m-0">
                        <div class="col p-0 m-0"><h6 class="text-h6-n">PROJECTS</h6></div>
                    </div>
                </div>
                <div class="col p-0 m-0 background-h">
                    <div class="row p-0 m-0">
                        <div class="col p-0 m-0 line-h"></div>
                    </div>
                    <div class="row p-0 m-0 background-c">
                        <div class="col p-0 m-0"><h3 class="text-h3">{{clientCount}}</h3></div>
                    </div>
                    <div class="row p-0 m-0">
                        <div class="col p-0 m-0"><h6 class="text-h6-n">CLIENTS</h6></div>
                    </div>
                </div>
                <div class="col p-0 m-0 background-b">
                    <div class="row p-0 m-0">
                        <div class="col p-0 m-0 line-h"></div>
                    </div>
                    <div class="row p-0 m-0 background-c">
                        <div class="col p-0 m-0"><h3 class="text-h3">{{followers}}</h3></div>
                    </div>
                    <div class="row p-0 m-0">
                        <div class="col p-0 m-0"><h6 class="text-h6-n">FOLLOWERS</h6></div>
                    </div>
                </div>
                <div class="col p-0 m-0 background-h">
                    <div class="row p-0 m-0">
                        <div class="col p-0 m-0 line-h"></div>
                    </div>
                    <div class="row p-0 m-0 background-c">
                        <div class="col p-0 m-0"><h3 class="text-h3">{{years}}</h3></div>
                    </div>
                    <div class="row p-0 m-0">
                        <div class="col p-0 m-0"><h6 class="text-h6-n">YEARS</h6></div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-para">{{numbers?.bottom_text}}</p>
    </div>
</div>
