.team{
    background-color: #141414;
    padding: 5rem 0rem 4rem 0rem;
}

.content {
    font-family: Raleway,Arial, Helvetica, sans-serif;

    h1 {
        color: #dbad83;
        font-weight: 700;
        font-size: 4.5rem;
    }

    h6 {
        color: #fff;
        font-weight: 600;
        font-size: 0.85rem;
        letter-spacing: 2px;

        .highlight {
            color: #dbad83;  
        }
    }

    p {
        color: #fff;
        font-size: 0.85rem;
        font-weight: 400;
        padding: 1.5rem 0rem 3rem 0rem;
        letter-spacing: 2px;
        opacity: 0.9;
    }
}