<div class="team">
    <div class="container text-center">
        <div class="content">
            <h1>{{team?.team}}</h1>
            <h6>WHO <span class="highlight">WE ARE</span></h6>
            <p class="text-p">
                {{team?.paragraph}}
            </p>

            <div class="row row-cols-4">
                <div class="col col-md" *ngFor="let item of team?.grid_items">
                    <div class="containers">
                        <img src="{{item?.image}}" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text">
                                <p>
                                   {{item?.text}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="names-title">
                        <p class="name-p">{{item?.name}}</p>
                        <p class="title-p">{{item?.position}}</p>
                    </div>   
                </div>
            </div>

            <h4 style="color: #fff;">WE WANT TO CHANGE</h4>
            <h4 style="color: #dbab83;">PEOPLES LIVES</h4>
            <p class="text-p-2">
                {{team?.paragraph_2}}
            </p>

        </div>
    </div>
</div>
