<div class="footer">
    <div class="container">
        <div class="row rows">
            <div class="col">
                <h5 class="text-h5">SKROLLEX</h5>
                <p class="text-p">Mauris metus tellus, lacinia 
                    nec efficitur quis, rhoncus et mi.
                </p>
            </div>
            <div class="col">
                <h5 class="text-h5">ADDITIONAL LINKS</h5>
                <ul class="ul-list">
                    <li>Documentation</li>
                    <li>Blog</li>
                    <li>How We Work</li>
                    <li>Who We Are</li>
                    <li>Our Numbers</li>
                </ul>    
            </div>
            <div class="col">
                <h5 class="text-h5">RECENT POSTS</h5>
                <ul class="ul-list">
                    <li>Post with Featured Image</li>
                    <li>And Post with Slider</li>
                    <li>Post with Vimeo Video</li>
                    <li>Another Post with Image</li>
                                
                </ul>
            </div>
            <div class="col">
                <h5 class="text-h5">PHOTO STREAM</h5>
                <div class="row">
                    <div class="col p-1 m-0">
                        <img src="/assets/images/footer/1.jpg" alt="Girl in a jacket" width="75" height="75">
                    </div>
                    <div class="col p-1 m-0">
                        <img src="/assets/images/footer/2.jpg" alt="Girl in a jacket" width="75" height="75">
                    </div>
                    <div class="col p-1 m-0">
                        <img src="/assets/images/footer/3.jpg" alt="Girl in a jacket" width="75" height="75">
                    </div>
                </div>
                <div class="row">
                    <div class="col p-1 m-0">
                        <img src="/assets/images/footer/4.jpg" alt="Girl in a jacket" width="75" height="75">
                    </div>
                    <div class="col p-1 m-0">
                        <img src="/assets/images/footer/5.jpg" alt="Girl in a jacket" width="75" height="75">
                    </div>
                    <div class="col p-1 m-0">
                        <img src="/assets/images/footer/6.jpg" alt="Girl in a jacket" width="75" height="75">
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="reserved text-center">
    <p>© 2023 All Rights Reserved. Credits.</p>
</div>
