<div class="process">
    <div class="container text-center">
        <div class="content">
            <h1 class="text-h1">OUR <span class="txt-clr">SKILLS</span></h1>
            <h6 class="text-h6">OUR MAIN <span class="highlight">SKILLS</span></h6>
            <p class="text-p">
                liquam scelerisque vestibulum mi, eu commodo 
                sem vestibulum convallis. Proin sed mi vehicula, 
                porta nisi eu, facilisis nisl. Etiam tristique mi 
                nec fermentum vestibulum. Nullam in nisi ut tellus 
                laoreet ultrices. In ullamcorper dictum interdum 
                vestibulum etiam tristique mi nec fermentum commodo 
                sem vestibulum laoreet ultrices.
            </p>
        </div>

        <div class="grid-skills">
            <div class="row">
                <div class="col">
                    <nav ngbNav #nav="ngbNav" class="nav-tabs">
                        <ng-container ngbNavItem>
                            <a ngbNavLink>HTML5</a>
                            <ng-template ngbNavContent>
                                <p class="skill-paragraph"> Fusce hendrerit enim et lacus rutrum, fermentum 
                                    consectetur mauris hendrerit. Mauris scelerisque, 
                                    est eget convallis blandit, lorem est scelerisque 
                                    dolor, non dapibus orci enim ut risus. Praesent 
                                    rhoncus ex sit amet nunc luctus, nec eleifend 
                                    erat suscipit. In feugiat dui eget gravida dignissim. 
                                    Quisque sed dictum felis. Integer viverra iaculis 
                                    nulla, a euismod est. Nulla nec felis ipsum. 
                                    Phasellus sed scelerisque nisl, eu condimentum metus. 
                                    Aenean convallis risus nec eleifend pharetra. 
                                    Vivamus rhoncus eleifend mi in imperdiet.
                                    Nullam a justo quis dolor viverra elementum. 
                                    Nam eleifend leo quis elementum cursus.
                                </p>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a ngbNavLink>CSS3</a>
                            <ng-template ngbNavContent>
                                <p class="skill-paragraph"> Sed dapibus, leo ut egestas convallis, leo purus 
                                    condimentum ipsum, sit amet lobortis odio nisi 
                                    id enim. Pellentesque habitant morbi tristique 
                                    senectus et netus et malesuada fames ac turpis 
                                    egestas. Morbi suscipit, mi in interdum volutpat, 
                                    quam mi porta nisi, dapibus placerat sapien tortor 
                                    eleifend arcu. Cras sit amet euismod mi, non imperdiet 
                                    felis. Praesent eros nibh, ullamcorper ut suscipit sit 
                                    amet, mattis sollicitudin lectus. Cum sociis natoque 
                                    penatibus et magnis dis parturient montes, nascetur 
                                    ridiculus mus. Duis in enim sit amet nibh placerat consectetur 
                                    id et enim. Nunc nec dui ac ligula posuere posuere 
                                    vel id metus. Integer maximus eros nec lobortis tempor.
                                </p>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a ngbNavLink>JQuery</a>
                            <ng-template ngbNavContent>
                                <p class="skill-paragraph"> Nam eget ex mi. Interdum et malesuada fames ac ante 
                                    ipsum primis in faucibus. Etiam blandit, enim nec 
                                    rutrum maximus, odio purus maximus odio, vel mattis 
                                    nisi ante ut velit. Nam ut turpis vel dolor maximus dictum. 
                                    Donec blandit turpis ut vulputate facilisis. Nam est nisi, 
                                    posuere vitae posuere in, viverra non tellus. Pellentesque 
                                    congue, sapien eget sollicitudin sollicitudin, est 
                                    leo imperdiet ante, facilisis viverra mi augue in leo. 
                                    Vestibulum felis urna, pharetra et eros ut, mattis 
                                    consequat mi. Curabitur id tortor mattis, aliquet eros 
                                    hendrerit, mattis metus. Ut dignissim vel augue in congue. 
                                    Nulla a ante ut mi scelerisque suscipit. Aenean condimentum 
                                    turpis mi, sit amet ullamcorper mi commodo non.
                                </p>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a ngbNavLink>Wordress</a>
                            <ng-template ngbNavContent>
                                <p class="skill-paragraph"> Fusce hendrerit enim et lacus rutrum, fermentum 
                                    consectetur mauris hendrerit. Mauris scelerisque, 
                                    est eget convallis blandit, lorem est scelerisque 
                                    dolor, non dapibus orci enim ut risus. Praesent 
                                    rhoncus ex sit amet nunc luctus, nec eleifend 
                                    erat suscipit. In feugiat dui eget gravida dignissim. 
                                    Quisque sed dictum felis. Integer viverra iaculis 
                                    nulla, a euismod est. Nulla nec felis ipsum. 
                                    Phasellus sed scelerisque nisl, eu condimentum metus. 
                                    Aenean convallis risus nec eleifend pharetra. 
                                    Vivamus rhoncus eleifend mi in imperdiet.
                                    Nullam a justo quis dolor viverra elementum. 
                                    Nam eleifend leo quis elementum cursus.
                                </p>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a ngbNavLink>SEO</a>
                            <ng-template ngbNavContent>
                                <p class="skill-paragraph"> Proin non augue posuere, iaculis tortor in, 
                                    molestie lorem. Praesent ut gravida sem. Aenean 
                                    sit amet lorem leo. Curabitur risus ante, pulvinar 
                                    vel erat viverra, porttitor volutpat turpis. Praesent 
                                    et sapien interdum, sollicitudin nisi non, bibendum leo. 
                                    Duis posuere lectus velit, vel volutpat massa blandit non. 
                                    Donec pellentesque vel magna ut dignissim. Pellentesque luctus 
                                    fringilla eros, in tempus neque venenatis consectetur. 
                                    Pellentesque purus mauris, laoreet eget augue in, pellentesque 
                                    sagittis arcu. Etiam at blandit lectus, sit amet volutpat tellus.
                                </p>
                            </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a ngbNavLink>Photoshop</a>
                            <ng-template ngbNavContent>
                                <p class="skill-paragraph"> Donec ac consectetur neque, vel eleifend nisi. 
                                    In et nibh at neque convallis tincidunt. Aliquam 
                                    sodales odio vel malesuada interdum. Duis auctor 
                                    malesuada lorem. Nulla sed neque ut dui imperdiet 
                                    congue ut sit amet enim. Phasellus vel commodo dui. 
                                    Aliquam eu eleifend diam, vitae dapibus velit. Suspendisse 
                                    ac est hendrerit, mollis lectus vel, accumsan urna. Quisque 
                                    sit amet iaculis libero, sed maximus justo. Nunc laoreet non 
                                    libero eu vehicula. Vestibulum ex lectus, pharetra non elementum 
                                    et, gravida quis mauris. Donec sodales odio eget accumsan blandit.
                                </p>
                            </ng-template>
                        </ng-container>
                    </nav> 
                    
                    <div [ngbNavOutlet]="nav"></div>
                </div>
                <div class="col p-0">
                    <div class="bar">
                        <p><ngb-progressbar [showValue]="true" [value]="25"></ngb-progressbar></p>
                        <p><ngb-progressbar [showValue]="true" [value]="50"></ngb-progressbar></p>
                        <p><ngb-progressbar [showValue]="true" [value]="150" [max]="200"></ngb-progressbar></p>
                        <p><ngb-progressbar [showValue]="true" [value]="150" [max]="150"></ngb-progressbar></p> 
                        <p><ngb-progressbar [showValue]="true" [value]="150" [max]="200"></ngb-progressbar></p>
                        <p><ngb-progressbar [showValue]="true" [value]="150" [max]="150"></ngb-progressbar></p>       
                    </div>
                </div>
            </div>

        </div>

        
    </div>
</div>
