<div class="process">
    <div class="container text-center">
        <div class="content">
            <h1 class="text-h1">OUR <span class="txt-clr">SKILLS</span></h1>
            <h6 class="text-h6">OUR MAIN <span class="highlight">SKILLS</span></h6>
            <p class="text-p">
                {{skills?.paragraph}}
            </p>
        </div>

        <div class="grid-skills">
            <div class="row">
                <div class="col">
                    <nav ngbNav #nav="ngbNav" class="nav-tabs">
                        <ng-container ngbNavItem *ngFor="let item of skills?.tabs">
                            <a ngbNavLink>{{item.title}}</a>
                            <ng-template ngbNavContent>
                                <p class="skill-paragraph"> 
                                    {{item?.content}}
                                </p>
                            </ng-template>
                        </ng-container>
                    </nav> 
                    
                    <div [ngbNavOutlet]="nav"></div>
                </div>
                <div class="col p-0">
                    <div class="bar">
                        <p><ngb-progressbar [showValue]="true" [value]="25"></ngb-progressbar></p>
                        <p><ngb-progressbar [showValue]="true" [value]="50"></ngb-progressbar></p>
                        <p><ngb-progressbar [showValue]="true" [value]="150" [max]="200"></ngb-progressbar></p>
                        <p><ngb-progressbar [showValue]="true" [value]="150" [max]="150"></ngb-progressbar></p> 
                        <p><ngb-progressbar [showValue]="true" [value]="150" [max]="200"></ngb-progressbar></p>
                        <p><ngb-progressbar [showValue]="true" [value]="150" [max]="150"></ngb-progressbar></p>       
                    </div>
                </div>
            </div>

        </div>

        
    </div>
</div>
