.about-upper-content {
    width: 100%;
    overflow: hidden;
}

.rows-padding {
    padding: 0;
    margin: 0;
}

.left-side {
    width: 100%;
    overflow: hidden;
    background-image: url('/assets/images/who_we_are/wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.right-side {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    .content {
       padding: 15%;
    }
}