<div class="who-we-are">
    <div class="row rows-padding">
        <div class="col left-side"> 
            <div class="">
                <button>VIEW OUR WORK</button>
            </div>
        </div>
        <div class="col right-side">
            <div class="content">
                <h4>WHO<span class="highlight">WE ARE</span></h4>
                <p class="para-1">
                    QUISQUE DOLOR LACUS, COMMODO ID 
                    HENDRERIT VIVERRA, EUISMOD IN ODIO.
                </p>
                <p class="para-2">
                    Aliquam fermentum massa ac est sollicitudin, at ultricies 
                    ligula tristique. Cras finibus, nulla ac convallis feugiat, nisl nisl 
                    lobortis est, eget auctor velit magna vel nunc. Donec nec eros rhoncus.
                </p>
                <p class="para-2">
                    Aenean nisi neque, aliquam ut nibh sit amet, 
                    finibus sagittis tortor aenean consectetur.
                </p>
            </div>
        </div>
    </div>
</div>>
