<div class="who-are-we">
    <div class="bground">
        <div class="container text-center ">
            <div class="content">
                <h1><span>HOW </span>WE WORK</h1>
                <p class="text-p">
                    Aliquam fermentum massa ac est sollicitudin, at ultricies 
                    ligula tristique. Cras finibus, nulla ac convallis feugiat, 
                    nisl nisl lobortis est, eget auctor velit magna vel nunc. 
                    Donec nec eros rhoncus.
                </p>
    
                <div class="row">
                    <div class="col">
                        <button class="circle">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <div class="circle-content">
                              <h6>AWESOME</h6>
                              <p>
                                Duis aute irure dolor in reprehenderit 
                                in voluptate velit esse cillum 
                                dolore eu fugiat nulla pariatur.
                              </p>
                        </div>
                    </div>
                    <div class="col">
                        <button class="circle">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </button>
                        <div class="circle-content">
                              <h6>INNOVATIVE</h6>
                              <p>
                                Duis aute irure dolor in reprehenderit 
                                in voluptate velit esse cillum 
                                dolore eu fugiat nulla pariatur.
                              </p>
                        </div>
                    </div>
                    <div class="col">
                        <button class="circle">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                        <div class="circle-content">
                              <h6>CREATIVE</h6>
                              <p>
                                Duis aute irure dolor in reprehenderit 
                                in voluptate velit esse cillum 
                                dolore eu fugiat nulla pariatur.
                              </p>
                        </div>
                    </div>
                    <div class="col">
                        <button class="circle">
                            <i class="fa fa-flask" aria-hidden="true"></i>
                        </button>
                        <div class="circle-content">
                              <h6>EXPERIMENTAL</h6>
                              <p>
                                Duis aute irure dolor in reprehenderit 
                                in voluptate velit esse cillum 
                                dolore eu fugiat nulla pariatur.
                              </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
