<div>
    <div class="landing-items">
        <div class="social-medial-icons d-none d-lg-block">

        </div>
        <div class="contents">
            <div class="frame">
                <div class="container">
                  <div class="row vertical-align" style=" height: 91vh;">
                    <div class="col-md-6">
                        <div class="typewriter">
                            <span #typewriter></span>
                        </div>
                        <h1 class="text-title">SKROLLEX</h1>
                        <div class="text-box">
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec ante tristique elit interdum ullamcorper. Consectetur aenean porta nibh sit amet aliquet pellentesque.</p>
                        </div>
                        <div class="btn-groups">
                            <button class="about">ABOUT US</button>
                            <button class="work">OUR WORK</button>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="slider d-none d-lg-block">

        </div>

    </div>
    
</div>
