<div class="how-we-work">
    <div class="bground">
        <div class="container text-center ">
            <div class="content">
                <h1><span>HOW </span>WE WORK</h1>
                <p class="text-p">
                    {{howWork?.paragraph}}
                </p>
    
                <div class="row">
                    <div class="col" *ngFor="let item of howWork?.grids_items">
                        <button class="circle">
                            <i class="{{item.icon}}" aria-hidden="true"></i>
                        </button>
                        <div class="circle-content">
                              <h6>{{item.text}}</h6>
                              <p>
                                {{item.para}}
                              </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
