.how-we-work {
    width: 100%;
    background-position: center;
    background-size: cover;
    animation: image 5s infinite alternate-reverse; 
}
  
@keyframes image {
  0% {
    background-image: url('/assets/images/how_we_work/we1.jpg');
  }
  100% {
    background-image: url('/assets/images/how_we_work/we2.jpg');
  }
}

.bground {
    background-color: rgba(15,14,14,.85);
    padding: 6rem 0rem;
}

.content {
    color: #fff;
    font-family: Raleway,Arial,Helvetica,sans-serif;

    h1 {
       font-size: 2rem;
       font-weight: 600;

       span {
        color: #dbab83;
       }
    }

    .text-p {
        padding: 0 25%;
        font-size: 0.85rem;
        font-weight: 400; 
        opacity: 0.8;
        letter-spacing: 2px;
        padding-bottom: 2rem;
    }
}

.circle {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    background: none;
    box-shadow: none;
    border: 1px solid #fff;
    margin-bottom: 2rem;
}

.circle:hover {
    width: 9.25rem;
    height: 9.25rem;
}

.circle-content {

    h6 {
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 2px;
        padding-top: 0.5rem;
        text-decoration: underline 3px solid rgba(239,239,239,.5);
        text-underline-offset: 1rem;
    }

    p {
        font-size: 0.75rem;
        font-weight: 400;
        letter-spacing: 2px;
        padding-top: 1.5rem;
        opacity: 0.8;
    }
}

i {
    color: #fff;
    font-size: 2rem;
}
