<div class="process">
    <div class="container text-center">
        <div class="content">
            <h1 class="text-h1">OUR <span class="txt-clr">PROCESS</span></h1>
            <h6 class="text-h6">WE MAKE <span class="highlight">OUR CUSTOMERS HAPPY</span></h6>
            <p class="text-p">
                Curabitur eget nulla ut neque aliquam dictum. 
                Nam sollicitudin leo dui, non malesuada felis aliquam non. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada 
                fames ac turpis egestas. Phasellus finibus tempor neque vel scelerisque. 
                Cras nec ex ut eleifend mollis ut a nibh. Vivamus commodo est sit 
                amet ultricies.
            </p>
        </div>
    </div>
</div>
