<div class="process">
    <div class="container text-center">
        <div class="content">
            <h1 class="text-h1">OUR <span class="txt-clr">PROCESS</span></h1>
            <h6 class="text-h6">WE MAKE <span class="highlight">OUR CUSTOMERS HAPPY</span></h6>
            <p class="text-p">
                {{process.paragraph}}
            </p>
        </div>

        <div class="grids">
            <div class="row">
                <div class="col" *ngFor="let item of process?.grid_items">
                    <div class="row d-flex align-items-center">
                        <div class="col-3 dashed d-none d-lg-block"></div>
                        <div class="col-6 p-0">
                            <div class="box-content">
                                <i class="{{item?.icon}} icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-3 dashed d-none d-lg-block"></div>
                    </div>
                    <div class="row">
                        <div class="col box-body-content">
                            <h6 class="text-2-h6">{{item?.title}}</h6>
                            <p class="text-2-p">
                                {{item.paragraph}}.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="paragraph">
            <p class="paragraph-p">
                {{process.bottom_paragraph}}
            </p>
        </div>
    </div>
</div>
