.services {
    background-color: #141414;
    padding: 5rem 0rem 4rem 0rem;

    .content {
        font-family: Raleway,Arial, Helvetica, sans-serif;
    
        h6 {
            color: #fff;
            font-weight: 600;
            font-size: 0.85rem;
            letter-spacing: 2px;
    
            .highlight {
                color: #dbad83;  
            }
        }
    
        .text-p {
            color: #fff;
            font-size: 0.85rem;
            font-weight: 400;
            padding: 1.5rem 0rem 3rem 0rem;
            letter-spacing: 2px;
            opacity: 0.9;
        }
    
    }
}

.text-service-h1 {
    color: #dbad83;
    font-weight: 700;
    font-size: 4.5rem;
}



.grid-elements {
    text-align: left;
    font-family: Raleway,Arial, Helvetica, sans-serif;
    padding: 1rem;
    
    h5 {
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 2px;
        color: #dbad83;  
        padding-top: 1rem; 
    }

    p {
        font-weight: 300;
        font-size: 0.75rem;
        letter-spacing: 2px;
        color: #fff; 
        opacity: 0.85; 
    }

    ul {
        list-style-type: '- ';
        padding: 0;
        color: #fff;
        font-size: 0.75rem;
        opacity: 0.75;
        letter-spacing: 1px;
    }

    .grid-content {
        border-top: 2px solid rgba(255,255,255,.7);
        width: 100%;
    }
    
}

.animation-text {
    width: 100%;
    background-position: center;
    background-size: cover;
    animation: image3 5s infinite alternate-reverse; 
    text-align: center;
    height: 50vh;
   

    .bg-clr{
        background-color: #141414;
        opacity: 0.75;
        padding: 10% 0%;
        height: 50vh;
    }  
    
    .text {
        color: #fff;
        font-style: italic;
    }
}
  
@keyframes image3 {
  0% {
    background-image: url('/assets/images/services/service-1.jpg');
  }
  
  100% {
    background-image: url('/assets/images/services/service-3.jpg');
  }
}

.typewriter {
    font-size: 2.5rem;
    color: #dbab83;
    font-family: Raleway,Arial,Helvetica,sans-serif;
    white-space: pre-wrap;
    font-weight: 100;
    opacity: 0.75;   
}

@media screen and (max-width: 992px) {
    .grid-elements .row {
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 376px) {
    .text-service-h1 {
        font-size: 2.5rem;
    }
  }
  