<div class="contact">
    <div class="bg-contact">
        <div class="container text-center">
            <div class="content">
                <h1 class="text-h1">CONTACT</h1>
                <h6 class="text-h6">KEEP IN TOUCH</h6>
            </div>
    
            <div class="grids-contact">
                <div class="row rows">
                    <div class="col left-item" style="text-align: right;">
                        <h6 class="text-h6-p">TEL: <span class="num">+7 (781) 503-1810</span></h6>
                        <h6 class="text-h6-a">500 UNICORN PARK DR, 21ST FLOOR <br>
                            WOBURN, MA 01801, UNITED STATES
                        </h6>
                        <p class="text-p-e">info@ouraddress.com</p>
                        <p class="text-p-e">www.ouraddress.com</p>
                    </div>
                    <div class="col">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <textarea class="form-control" id="message" rows="8" placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn sbt-button">Submit</button>   
                        </form>
                    </div>
                </div>
            </div>

            <div class="button">
                 <button class="button-button">LOCATE US ON MAP</button>
            </div>
        </div>
    </div>
</div>
